<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Dany Bot! |</title>

<!-- libraries -->
<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet"></link>
<link href="lib/nprogress/nprogress.css" rel="stylesheet"></link>
<link
	href="lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css"
	rel="stylesheet"></link>
<link href="source/build/css/custom.css" rel="stylesheet"></link>
</head>

<body class="nav-md footer_fixed">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">

					<!-- Menu Title -->
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
							<span>Dany Bot</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- Menu Profile -->
					<div class="profile clearfix">
						<div class="profile_pic">
							<img src="source/resource/images/img.jpg" alt="..."
								class="img-circle profile_img"></img>
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>Balaji Dhanapal</h2>
						</div>
					</div>

					<br></br>

					<!-- Menu SideNav -->
					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>General</h3>
							<ul class="nav side-menu">
								<li><a><i class="fa fa-home"></i> Home <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="index.html">Dashboard</a></li>
									</ul></li>
								<li><a><i class="fa fa-edit"></i> Program <span
										class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="form.html">General Form</a></li>
										<li><a href="form_advanced.html">Advanced Components</a></li>
										<li><a href="form_validation.html">Form Validation</a></li>
										<li><a href="form_wizards.html">Form Wizard</a></li>
										<li><a href="form_upload.html">Form Upload</a></li>
										<li><a href="form_buttons.html">Form Buttons</a></li>
									</ul></li>
							</ul>
						</div>
					</div>

					<!-- Menu Footer -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
							class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a> <a data-toggle="tooltip" data-placement="top" title="shut down"
							href="login.html"> <span class="glyphicon glyphicon-off"
							aria-hidden="true"></span>
						</a>
					</div>

				</div>
			</div>

			<!-- Top NavBar -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="javascript:;"
								class="user-profile dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <img
									src="source/resource/images/img.jpg" alt=""></img>Balaji
									Dhanapal <span class="fa fa-angle-down"></span>
							</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="javascript:;"> <i
											class="fa fa-user pull-right"></i> Profile
									</a></li>
									<li><a href="javascript:;"> <i
											class="fa fa-cog pull-right"></i> Settings
									</a></li>
									<li><a href="javascript:;"> <i
											class="fa fa-power-off pull-right"></i> Shut down
									</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="javascript:;"> <i
											class="fa fa-question-circle pull-right"></i> Help
									</a></li>
									<li role="separator" class="divider"></li>
									<li class="disabled"><a href="javascript:;"> Version
											0.0.1</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
			</div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left"></div>
					</div>
				</div>
			</div>

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Status:$Connection status$ | Dany Bot - Development <a
						href="https://balajidany.wordpress.com">@Wordpress</a>
				</div>
				<div class="clearfix"></div>
			</footer>
		</div>
	</div>

	<!-- Libraries -->
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="lib/fastclick/lib/fastclick.js"></script>
	<script src="lib/nprogress/nprogress.js"></script>
	<script src="lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="source/build/js/custom.js"></script>

</body>

</html>
