<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Error</title>

    <!-- libraries -->
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet"></link>
    <link href="lib/nprogress/nprogress.css" rel="stylesheet"></link>
    <link href="source/build/css/custom.css" rel="stylesheet"></link>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">500</h1>
                        <h2>Internal Server Error</h2>
                        <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Libraties -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/fastclick/lib/fastclick.js"></script>
    <script src="lib/nprogress/nprogress.js"></script>
    <script src="source/build/js/custom.js"></script>
</body>

</html>
